body {
    background-color: white
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}

a {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}